obsidian_vaults/ideas/.obsidian/workspace
obsidian_vaults/ideas/.obsidian/graph.json
obsidian_vaults/ideas/.obsidian/appearance.json
obsidian_vaults/ideas/.obsidian/workspace.json
obsidian_vaults/ideas/.obsidian/app.json
obsidian_vaults/ideas/.obsidian/workspace-mobile.json

