vaults/ideas/.obsidian/workspace
vaults/ideas/.obsidian/graph.json
vaults/ideas/.obsidian/appearance.json
vaults/ideas/.obsidian/workspace.json
vaults/ideas/.obsidian/app.json
vaults/ideas/.obsidian/workspace-mobile.json
.DS_Store
typesetting/*/.ScribusThumbs/*
vaults/ideas/.trash/*
