.obsidian/workspace
.obsidian/graph.json
.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/app.json
.obsidian/workspace-mobile.json
.DS_Store
other/typesetting/*/.ScribusThumbs/*
.trash/*
*/*.ods#

