/* Regular text throughout the app */
body, .ls-block, .editor-inner, .cp__sidebar-main-content {
  --font-family: "Nimbus Roman", sans-serif !important;
  font-family: "Atkinson Hyperlegible Next, Regular", sans-serif !important;
}

/* Code blocks and inline code */
code, pre, .CodeMirror, .cp__block-editor-code {
  font-family: "Atkinson Hyperlegible Next, Light", monospace !important;
}
